<body class="loading">
		<div id="wrapper">
			<div id="bg"></div>
			<div id="overlay"></div>
			<div id="main">

				<!-- Header -->
					<header id="header">
						<h1>JP STEARNS</h1>
						<strong><p>Web Developer &nbsp;&bull;&nbsp; Kind Inc &reg; &nbsp;&bull;&nbsp; Phone: (401) 450-8878</p></strong>
						<nav>
							<ul>
								<li><a href="https://github.com/jpstearns" class="icon fa-github"><span class="label">Github</span></a></li>
								<li><a href="https://www.facebook.com/jstearnzy" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
								<li><a href="https://twitter.com/jsteezy401" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
								<li><a href="#" class="icon fa-linkedin"><span class="label">Dribbble</span></a></li>
								<li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
							</ul>
						</nav>
					</header>

				<!-- Footer -->
					<footer id="footer">
						<span class="copyright">&copy; Kind inc. Design: <a href="http://html5up.net">jpStearns</a>.</span>
					</footer>
				
			</div>
		</div>
	</body>